/* Catppuccin Frappé - Wofi */
* {
  font-size: 18px;
}
#scroll {
  background-color: #303446;
}
#outer-box {
  background-color: #303446;
  padding: 10px;
  border: 2px solid #99d1db;
}
#main {
  background-color: #303446;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider{
  background-color: #99d1db;
}
#outer-box {
  padding: 10px;
}

#input image {
  color: #99d1db;
  -gtk-icon-effect: none;
}
#input {
  background-color: #414559;
  color: #c6d0f5;
  caret-color: #99d1db;
  border: 1px solid #51576d;
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
  outline: 1px solid #626880;
}
#input:focus {
  border-color: #99d1db;
}
#input placeholder {
  color: #303446;
}
#entry {
  background-color: #303446;
  color: #c6d0f5;
}
#entry #entry:selected {
  background-color: #414559;
  color: #99d1db;
}
#entry:selected {
  background-color: #414559;
  color: #99d1db;
}
#entry:hover {
  background-color: #51576d;
}
#text {
  color: #c6d0f5 ;
}
#text:selected {
  color: #99d1db;
}
