/* Catppuccin Macchiato - Wofi */

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
}
#scroll {
  background-color: #24273a;
  margin: 0 8px 8px 8px;
}
#outer-box {
  background-color: #24273a;
  padding: 10px;
  border: 2px solid #f0c6c6;
}
#main {
  background-color: #24273a;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider{
  background-color: #f0c6c6;
}
#outer-box {
  padding: 4px;
  background-color: #24273a;
  padding: 10px;
  border: 2px solid #f0c6c6;
  padding: 10px;
}

#input image {
  color: #f0c6c6;
  -gtk-icon-effect: none;
}
#input {
  background-color: #363a4f;
  color: #cad3f5;/* Text */
  caret-color: #f0c6c6;
  border: 1px solid #494d64;
  outline: 1px solid #5b6078;
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
}
#input:focus {
  border-color: #f0c6c6;
}
#input placeholder {
  color: #24273a;
}
#entry {
  background-color: #24273a;
  color: #cad3f5;
}
#entry #entry:selected {
  background-color: #363a4f;
  color: #f0c6c6;
}
#entry:selected {
  background-color: #363a4f;
  color: #f0c6c6;
}
#entry:hover {
  background-color: #494d64;
}
#text {
  color: #cad3f5;
}
#text:selected {
  color: #f0c6c6;
}
window {
  background-color: #24273a;
  border: 2px solid #f0c6c6;
}
#inner-box {
  background-color: transparent;
}
#img {
  margin-right: 8px;
}
