/* Catppuccin Frappé - Wofi */

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
}
#scroll {
  background-color: #303446;
  margin: 0 8px 8px 8px;
}
#outer-box {
  background-color: #303446;
  padding: 10px;
  border: 2px solid #85c1dc;
}
#main {
  background-color: #303446;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider{
  background-color: #85c1dc;
}
#outer-box {
  padding: 4px;
  background-color: #303446;
  padding: 10px;
  border: 2px solid #85c1dc;
  padding: 10px;
}

#input image {
  color: #85c1dc;
  -gtk-icon-effect: none;
}
#input {
  background-color: #414559;
  color: #c6d0f5;/* Text */
  caret-color: #85c1dc;
  border: 1px solid #51576d;
  outline: 1px solid #626880;
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
}
#input:focus {
  border-color: #85c1dc;
}
#input placeholder {
  color: #303446;
}
#entry {
  background-color: #303446;
  color: #c6d0f5;
}
#entry #entry:selected {
  background-color: #414559;
  color: #85c1dc;
}
#entry:selected {
  background-color: #414559;
  color: #85c1dc;
}
#entry:hover {
  background-color: #51576d;
}
#text {
  color: #c6d0f5;
}
#text:selected {
  color: #85c1dc;
}
window {
  background-color: #303446;
  border: 2px solid #85c1dc;
}
#inner-box {
  background-color: transparent;
}
#img {
  margin-right: 8px;
}
