/* Catppuccin Mocha - Wofi */

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 18px;
}
#scroll {
  background-color: #1e1e2e;
  margin: 0 8px 8px 8px;
}
#outer-box {
  background-color: #1e1e2e;
  padding: 10px;
  border: 2px solid #94e2d5;
}
#main {
  background-color: #1e1e2e;
}
scrollbar,
scrollbar trough,
undershoot.top,
undershoot.bottom {
  min-width: 5px;
  min-height: 5px;
  background: none;
}
scrollbar slider{
  background-color: #94e2d5;
}
#outer-box {
  padding: 4px;
  background-color: #1e1e2e;
  padding: 10px;
  border: 2px solid #94e2d5;
  padding: 10px;
}

#input image {
  color: #94e2d5;
  -gtk-icon-effect: none;
}
#input {
  background-color: #313244;
  color: #cdd6f4;/* Text */
  caret-color: #94e2d5;
  border: 1px solid #45475a;
  outline: 1px solid #585b70;
  padding: 8px 12px;
  margin: 10px;
  border-radius: 35px;
}
#input:focus {
  border-color: #94e2d5;
}
#input placeholder {
  color: #1e1e2e;
}
#entry {
  background-color: #1e1e2e;
  color: #cdd6f4;
}
#entry #entry:selected {
  background-color: #313244;
  color: #94e2d5;
}
#entry:selected {
  background-color: #313244;
  color: #94e2d5;
}
#entry:hover {
  background-color: #45475a;
}
#text {
  color: #cdd6f4;
}
#text:selected {
  color: #94e2d5;
}
window {
  background-color: #1e1e2e;
  border: 2px solid #94e2d5;
}
#inner-box {
  background-color: transparent;
}
#img {
  margin-right: 8px;
}
